Package: xgobuster
Version: @VERSION@
Section: utils
Priority: optional
Architecture: @ARCH@
Maintainer: batako <2323213+batako@users.noreply.github.com>
Depends: ctx, gobuster, wordlists
Description: Run Gobuster against ctx targets and save web discoveries
