Package: xwebshell
Version: @VERSION@
Section: utils
Priority: optional
Architecture: @ARCH@
Maintainer: batako <2323213+batako@users.noreply.github.com>
Depends: ctx, webshells, seclists
Description: List and prepare Kali web shell templates
