Package: xftp
Version: @VERSION@
Section: utils
Priority: optional
Architecture: @ARCH@
Maintainer: batako <2323213+batako@users.noreply.github.com>
Depends: ctx, lftp
Description: Connect to ctx targets using stored FTP credentials
